<section class="about">
    <h2 class="section-heading">About Me</h2>
    <div class="about__container">
        <img class="about__picture" src="assets/me.jpg" alt="assets/me.jpg">
        <p class="about__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque vel voluptatibus libero natus delectus corporis cumque voluptates temporibus dolores voluptatem, non veritatis consectetur? Reprehenderit praesentium ipsum ab modi. Cupiditate, ut?.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nam consequatur facilis quasi illum omnis, libero voluptate sint ea natus tempore laboriosam dicta soluta obcaecati molestias officiis minima pariatur tenetur?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nam ullam aspernatur amet tempore! Sapiente, necessitatibus! Quibusdam delectus veniam quos facere placeat inventore ad optio numquam. Numquam neque ad doloremque.
        </p>
    </div>

</section>

