<h2 class="section-heading">About Me</h2>
<div class="about">
    <img class="about__picture" src="assets/images/me.jpg" alt="A picture of me :&#41;" width="300" height="300">
    <div class="about__content">
        <div class="blob"></div>
        <mat-chip-set>
            <mat-chip class="about__chip" matTooltip="Markup Language">HTML</mat-chip>
            <mat-chip class="about__chip" matTooltip="Markup Language">CSS</mat-chip>
            <mat-chip class="about__chip" matTooltip="CSS Framework">Bootstrap</mat-chip>
            <mat-chip class="about__chip" matTooltip="CSS Preprocessor">Sass</mat-chip>
            <mat-chip class="about__chip" matTooltip="Programming Language">Javascript</mat-chip>
            <mat-chip class="about__chip" matTooltip="Programming Language">Typescript</mat-chip>
            <mat-chip class="about__chip" matTooltip="JS Framework">Angular</mat-chip>
            <mat-chip class="about__chip" matTooltip="Programming Language">C#</mat-chip>
            <mat-chip class="about__chip" matTooltip=".NET Framework">ASP.NET Core</mat-chip>
            <mat-chip class="about__chip" matTooltip="Programming Language">Python</mat-chip>
            <mat-chip class="about__chip" matTooltip="Python Framework">Django</mat-chip>
            <mat-chip class="about__chip" matTooltip="CI/CD">Github Actions</mat-chip>
            <mat-chip class="about__chip" matTooltip="IaC">Terraform</mat-chip>
            <mat-chip class="about__chip" matTooltip="Cloud">Azure</mat-chip>
            <mat-chip class="about__chip" matTooltip="JS Framework">Htmx</mat-chip>
        </mat-chip-set>
        <p class="about__text">
            My fascination with computers began early on, where I was captivated by movies about hackers 
            and the crazy things they acheived through their mastery of technology. 
       </p>
       <p class="about__text">
            This curiosity eventually led me to pursue a <span class="about__text--bold">BSC in Computer Forensics and Cybersecurity.</span>
       </p>
        <p class="about__text">
            I discovered my enjoyment of software development while exploring cloud computing. 
            I was learning Azure through building an app on the platform when I realised how 
            much I liked the coding aspect.
        </p>
        <p class="about__text">
            Currently, I work as a 2nd Line IT Service Desk Analyst where I support the business through IT. 
            Additionally, I support the company's website through backend administration.
        </p>
    </div>
</div>