@use '../../style' as *

.about
    display: grid
    align-items: center
    grid-template-columns: 1fr 2fr

    &__picture
        display: block
        max-width: 70%
        margin: auto
        border-radius: 12px
        box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3)
        border: 1px solid $tertiary-color

    &__content
        min-height: 100%
        position: relative

@media(width <= $breakpoint)
    .about
        grid-template-columns: 1fr
        gap: 2rem
        margin: auto

        &__picture
            max-width: 40%
            margin: auto
        
        &__content
            margin: auto

// Background Animation
