<div class="topnav">
    <div class="topnav__logo">
        <p class="topnav__logo-text gwendolyn">CK</p>
    </div>

    <nav class="topnav__items" *ngIf="screenWidth >= 768; else mobile">
        <a href="#home" class="topnav__link">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>
        <a href="#about" class="topnav__link">
            <mat-icon>person</mat-icon>
            <span>About</span>
        </a>
        <a href="#projects" class="topnav__link">
            <mat-icon>handyman</mat-icon>
            <span>Projects</span>
        </a>
    </nav>

    <ng-template #mobile>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu__icon">
            <mat-icon fontIcon="menu"></mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="mobile-menu">
            <a mat-menu-item href="#home" class="mobile-menu__option">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </a>
            <a mat-menu-item href="#about" class="mobile-menu__option">
                <mat-icon>person</mat-icon>
                <span>About</span>
            </a>
            <a mat-menu-item href="#projects" class="mobile-menu__option">
                <mat-icon>handyman</mat-icon>
                <span>Projects</span>
            </a>
          </mat-menu>
    </ng-template>
</div>