<h2 class="section-heading">Projects</h2>
<div class="projects">
    <div class="projects__scroller">
        <button *ngFor="let product of products"
        class="projects__button" (click)="getCurrentItem(product.name)"
        [class.projects__button--active]="product.name == selected">
            {{ product.name }}
        </button>
    </div>
    <div class="projects__details">
        <h2 class="projects__heading">{{ currentItem.name }}</h2>
        <p> {{ currentItem.description }}</p>
    </div>
</div>