@use '../../style' as *

.projects

    &__details
        max-width: 100%
        margin-top: 2rem
        display: flex
        gap: 1rem

    &__content
        min-width: 50%
        max-width: 50%
        display: flex
        flex-direction: column

    &__heading
        font-size: 18px
        margin: 0

    &__tag-group
        margin-top: 7.5px
        flex-shrink: 1
    
    &__tag
        margin: 0
        padding: 0 10px 0 0
        display: inline
        font-weight: 650

    &__text
        margin-top: 15px
        max-width: 50ch

    &__link-group
        width: 100%
        margin-top: 10px
        display: flex
        justify-content: flex-start
        gap: 20px
    
    &__link
        width: fit-content
        display: inline

        svg
            width: 25px
            height: 25px

        &--disabled
            cursor: default
            pointer-events: none
            opacity: .38

    &__img-box
        width: 50%
        display: flex
        padding: 20px 10px
        align-items: center
        justify-content: center
        
    &__img
        align-self: center
        display: inline-flex
        min-width: 150px
        max-width: 450px
        grid-area: image
        border-radius: 30px
        box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3)
        border: 1px solid $tertiary-color    

@media (width <= $breakpoint)
    .projects
        
        &__details
            flex-direction: column
            gap: 1rem
        
        &__content
            max-width: 100%
        
        &__img
            margin: 0