@use '../../style' as *

.projects
    max-width: 100%

    &__tab
        display: none
        background-color: $accent-color !important
        margin: 10rem

    &__details
        min-height: 10rem        

    &__heading
        margin: 0

    &__img-box
        display: grid
        grid-template-columns: 1fr 1fr 1fr 0.3fr
        grid-template-rows: auto
        grid-template-areas: "image image image ." "image image image links" "image image image ." "tags tags tags ."
        
    &__img
        grid-area: image
        display: block
        border-radius: 30px
        margin: 2rem auto auto
    
    &__links
        grid-area: links
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        gap: 20px
    
    &__link
        width: fit-content
        display: inline
        margin-left: 20px

        &--disabled
            cursor: default
            pointer-events: none
            opacity: .38
            
    
    &__tags
        margin: 15px 0 10px 
        grid-area: tags
        display: flex
        flex-wrap: wrap
        justify-content: center
        font-size: smaller
        color: $accent-color
    
    &__tag
        margin: 0
        padding: 0 10px
        display: inline
        font-weight: 650