@use "./_variables" as *

.button
    transition: all 0.5s ease

    &:hover
        transform: translateY(-5px)
        color: $accent-color

        svg
            stroke: currentColor

.button--topnav
    
    &:hover
        transform: none

.section-heading
    display: flex
    align-items: center
    font-size: 25px
    font-weight: 700
    color: $primary-color
    padding-bottom: 1.5rem
    width: 80%
    white-space: nowrap

    &::after
        display: block
        margin-left: 20px
        content: ''
        width: 100%
        height: 1px
        background-color: $tertiary-color

.section-box
    $height: 45
    display: block
    width: 100%
    padding: 50px 0
    margin: 0 auto
    min-height: #{$height}vh
    align-content: center

    & > *
        opacity: 0

//animations
@keyframes slidein
  from
    transform: translateY(20%) /* Adjust based on list height */
    opacity: 0

  to 
    transform: translateX(0)
    opacity: 1

@for $i from 1 through 10
    .visible > *:nth-child(#{$i})
        animation: slidein 0.3s ease-in-out forwards
        animation-delay: calc(0.2s * ($i)) /* Applies delay based on loop iteration */

@keyframes growline
    to
        transform: scaleX(1)    

.visible .section-heading::after
    transform: scaleX(0)
    transform-origin: left
    animation: growline 1.5s ease-in-out forwards !important
    animation-delay: 0.5s !important