$background-color: #EEEEF2
$primary-color: #0A2540
$text-color: #425466
// $accent-color: #00917D
$accent-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,52,120,1) 66%, rgba(0,212,255,1) 100%)

// Possible Colors?
//$background-color: #F4F2EE