<ngx-particles [id]="particleId" [options]="particleOptions" [className]="'home__particles'"></ngx-particles>
<div class="home">
    <p class="home__intro">Hi, my name is</p>
    <h2 class="home__heading">Chikezie Onuoha.</h2>
    <h2 class="home__heading home__heading--2">I like building software.</h2>
    <p class="home__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Sint beatae qui unde atque accusamus expedita, 
        earum officiis nobis, delectus nemo deleniti soluta dolor voluptate illum asperiores, 
        rem rerum quo iste!
    </p>
</div>